# Copyright (c) Arduino s.r.l. and/or its affiliated companies
# SPDX-License-Identifier: Apache-2.0

reset_config srst_only srst_nogate srst_push_pull connect_assert_srst
if {$::tcl_platform(platform) eq "windows"} {
	set null_device NUL
} else {
	set null_device /dev/null
}
init
reset
halt
flash info 0
log_output $null_device
if {[catch {flash verify_image ${filename0}}] != 0} {
	log_output default
	flash write_image erase ${filename0}
}
log_output $null_device
if {[catch {flash verify_image ${filename1} 0x8100000 bin}] != 0} {
	log_output default
	flash write_image erase ${filename1} 0x8100000 bin
}
log_output default
reset
sleep 100
mww 0x40036400 0xCAFFEEEE
shutdown
