/build/
/distrib/
/firmwares/*
/venv/
/boards.local.txt
/platform.local.txt
/loader/VERSION
/cores/arduino/api/

__pycache__/

llext-edk/
cflags.txt
cxxflags.txt
machine_flags.txt
includes.txt
syms-dynamic.ld
syms-static.ld
tls-syms.S
