/*
 * Copyright (c) Arduino s.r.l. and/or its affiliated companies
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/{
	chosen {
		zephyr,console = &board_cdc_acm_logging;
		zephyr,log-uart = &log_uarts;
		zephyr,shell-uart = &board_cdc_acm_shell;
	};

	log_uarts: log_uarts {
		compatible = "zephyr,log-uart";
		uarts = <&board_cdc_acm_logging>;
	};
};

/*
 * USB CDC-ACM ports, in enumeration order:
 *  1. logging: console (printk/stdout msg)+ log backend
 *  2. sketch:  the sketch's 'Serial' (SerialUSB)
 *  3. shell:   Zephyr shell (debug builds only, unused otherwise)
 */
&zephyr_udc0 {
	board_cdc_acm_logging: board_cdc_acm_logging {
		compatible = "zephyr,cdc-acm-uart";
		status = "okay";
	};

	board_cdc_acm_sketch: board_cdc_acm_sketch {
		compatible = "zephyr,cdc-acm-uart";
		status = "okay";
	};

	board_cdc_acm_shell: board_cdc_acm_shell {
		compatible = "zephyr,cdc-acm-uart";
		status = "okay";
	};

	status = "okay";
	compatible = "nordic,nrf-usbd";
	num-bidir-endpoints = <1>;
	num-in-endpoints = <6>;
	num-out-endpoints = <3>;
	num-isoin-endpoints = <0>;
	num-isoout-endpoints = <0>;
};

/*
 * The RAK4631 green LED is on P1.03.
 * (D6 in digital-pin-gpios, so LED_BUILTIN resolves to D6).
 * The blue LED (P1.04) is D7.
 */
&led0 {
	gpios = <&gpio1 3 GPIO_ACTIVE_HIGH>;
};

&gpio0 {
	/delete-property/ gpio-reserved-ranges;
};

/* WB_IO5/WB_IO6 (P0.09/P0.10) are the NFC pins; use them as GPIOs. */
&nfct {
	status = "disabled";
};

&uicr {
	nfct-pins-as-gpios;
};

/* RTC backend for the Arduino RTC library */
&rtc2 {
	status = "okay";
};

/* The RAK4631 has no QSPI flash */
/delete-node/ &mx25r64;

&qspi {
	status = "disabled";
};

&flash0 {
	partitions {
		compatible = "fixed-partitions";
		#address-cells = <1>;
		#size-cells = <1>;

		code_partition: partition@0 {
			label = "code";
			reg = <0x00000000 0x00060000>;
			read-only;
		};

		user_sketch: partition@70000 {
			label = "user";
			reg = <0x070000 0x88000>;
		};

		/*
		 * The flash starting at 0x000f8000 and ending at
		 * 0x000fffff is reserved for use by the application.
		 *
		 * Storage partition will be used by FCB/LittleFS/NVS
		 * if enabled.
		 */
		storage_partition: partition@f8000 {
			label = "storage";
			reg = <0x000f8000 0x00008000>;
		};
	};
};

/* Arduino API pin mappings */
/ {
	zephyr,user {
		digital-pin-gpios = <&gpio0 17 0>,	/* D0 - WB_IO1 */
				    <&gpio1 2 0>,	/* D1 - WB_IO2 */
				    <&gpio0 21 0>,	/* D2 - WB_IO3 */
				    <&gpio0 4 0>,	/* D3 - WB_IO4 */
				    <&gpio0 9 0>,	/* D4 - WB_IO5 */
				    <&gpio0 10 0>,	/* D5 - WB_IO6 */
				    <&gpio1 3 0>,	/* D6 - green LED */
				    <&gpio1 4 0>;	/* D7 - blue LED (led0 alias -> LED_BUILTIN) */

		pwm-pin-gpios =     <&gpio0 13 GPIO_ACTIVE_LOW>,
				    <&arduino_header 9 0>,
				    <&arduino_header 11 0>,
				    <&arduino_header 12 0>,
				    <&arduino_header 15 0>,
				    <&arduino_header 16 0>,
				    <&arduino_header 17 0>;

		adc-pin-gpios =	    <&arduino_header 0 0>,
				    <&arduino_header 1 0>,
				    <&arduino_header 2 0>,
				    <&arduino_header 3 0>,
				    <&arduino_header 4 0>,
				    <&arduino_header 5 0>;

		pwms =	<&pwm0 1 255 PWM_POLARITY_NORMAL>,
			<&pwm0 2 255 PWM_POLARITY_NORMAL>,
			<&pwm0 3 255 PWM_POLARITY_NORMAL>,
			<&pwm1 0 255 PWM_POLARITY_NORMAL>,
			<&pwm1 1 255 PWM_POLARITY_NORMAL>,
			<&pwm1 2 255 PWM_POLARITY_NORMAL>;

		io-channels =	<&arduino_adc 0>,
				<&arduino_adc 1>,
				<&arduino_adc 2>,
				<&arduino_adc 3>,
				<&arduino_adc 4>,
				<&arduino_adc 5>;

		cdc-acm-serial = <&board_cdc_acm_sketch>; /* 'Serial' object is managed by SerialUSB */
		serials = <&uart0>; /* 'Serial1' onwards */
	};
};

&adc {
	#address-cells = <1>;
	#size-cells = <0>;

	channel@0 {
		reg = <0>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN0>; /* P0.02 */
		zephyr,resolution = <10>;
	};

	channel@1 {
		reg = <1>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN1>; /* P0.03 */
		zephyr,resolution = <10>;
	};

	channel@2 {
		reg = <2>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN2>; /* P0.04 */
		zephyr,resolution = <10>;
	};

	channel@3 {
		reg = <3>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN3>; /* P0.05 */
		zephyr,resolution = <10>;
	};

	channel@4 {
		reg = <4>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN4>; /* P0.28 */
		zephyr,resolution = <10>;
	};

	channel@5 {
		reg = <5>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN5>; /* P0.29 */
		zephyr,resolution = <10>;
	};

	channel@6 {
		reg = <6>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN6>; /* P0.30 */
		zephyr,resolution = <10>;
	};

	channel@7 {
		reg = <7>;
		zephyr,gain = "ADC_GAIN_1_6";
		zephyr,reference = "ADC_REF_INTERNAL";
		zephyr,acquisition-time = <ADC_ACQ_TIME_DEFAULT>;
		zephyr,input-positive = <NRF_SAADC_AIN7>; /* P0.31 */
		zephyr,resolution = <10>;
	};
};

&pinctrl {
	pwm0_default: pwm0_default {
		group1 {
			/* RAK4631 LEDs/IOs are active high: idle low. */
			/delete-property/ nordic,invert;
			psels = <NRF_PSEL(PWM_OUT1, 1, 4)>,
				<NRF_PSEL(PWM_OUT2, 1, 6)>,
				<NRF_PSEL(PWM_OUT3, 1, 7)>;
		};
	};

	pwm0_sleep: pwm0_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT1, 1, 4)>,
				<NRF_PSEL(PWM_OUT2, 1, 6)>,
				<NRF_PSEL(PWM_OUT3, 1, 7)>;
				low-power-enable;
		};
	};

	pwm1_default: pwm1_default {
		group1 {
			/* RAK4631 LEDs/IOs are active high: idle low. */
			/delete-property/ nordic,invert;
			psels = <NRF_PSEL(PWM_OUT0, 1, 11)>,
				<NRF_PSEL(PWM_OUT1, 1, 12)>,
				<NRF_PSEL(PWM_OUT2, 1, 13)>;
		};
	};

	pwm1_sleep: pwm1_sleep {
		group1 {
			psels = <NRF_PSEL(PWM_OUT0, 1, 11)>,
				<NRF_PSEL(PWM_OUT1, 1, 12)>,
				<NRF_PSEL(PWM_OUT2, 1, 13)>;
				low-power-enable;
		};
	};
};

&pwm0 {
	status = "okay";
	pinctrl-0 = <&pwm0_default>;
	pinctrl-1 = <&pwm0_sleep>;
	pinctrl-names = "default", "sleep";
};

&pwm1 {
	status = "okay";
	pinctrl-0 = <&pwm1_default>;
	pinctrl-1 = <&pwm1_sleep>;
	pinctrl-names = "default", "sleep";
};
